.navBar {
    background-color: #a68a64;
    color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f3ee;
    width: 100%;
}

.links li {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.links a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.links a:hover {
    color: black;
}

h1 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 60px;
}

h2 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 40px;
}

p {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    font-size: 16px;
}

.index {
    text-align: center;
}

#header {
    background-color: #e0afa0;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
}

#mainPhoto {
    border: solid 10px #bcb8b1;
    border-radius: 50%;
    width: 80%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
}

li {
    margin: 20px 0;
}

#inter {
    padding-top: 10px;
    padding-bottom: 10px;
}

#mid {
    padding-top: 10px;
    padding-bottom: 20px;
}

#woof {
    font-size: 28px;
}
