* {
    text-align: center;
    background-color: #46A8E0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 15%;
    text-decoration: underline;
}

a {
    border: white solid 5px;
    border-radius: 20%;
    padding: 50px;
    margin: 25px 25px;
    font-size: 100px;
    color: white;
    text-decoration: none;
    display:block;
}

a:hover {
    color: #46A8E0;
    background-color: white;
}
